body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

#header {
    width: 100%;
    height: 65px;
    padding: 2px;
    display: flex;
    background-color: black;
    color: white;
}

.sg {
    width: 20%;
    height: auto;
    font-size: 30px;
    margin-left: 2%;
    padding: 0px;
    margin-top: 18px;
}

.sg a {
    text-decoration: none;
    color: white;
}

.nav {
    width: 60%;
    display: inline-block;
}

.nav-link {
    margin-left: 5%;
    /* color: white; */
}

.nav-link li {
    display: inline-block;
    margin-left: 5%;
    margin-top: 1%;
    font-size: 20px;
    /* color: white; */
}

.nav-link li a {
    text-decoration: none;
    color: white;
}

.join {
    width: 20%;
    /* margin-left: 15%; */
}

.join-link {
    width: 40%;
    height: 0px;
    padding-left: 25px;
    padding-top: 40px;
    background-color: coral;
    border-radius: 30PX 30PX 30PX 30PX;
    color: white;
    margin-left: 25%;
    margin-top: 4.5%;
}

.join-link li {
    list-style-type: none;
}

.join-link a {
    text-decoration: none;
    color: white;
}

.now {
    text-decoration: none !important;
    margin-top: -25%;
    margin-left: 8%;
}

#content {
    background-image: linear-gradient(rgba(176, 176, 176, 0.858), rgba(185, 185, 185, 0.879)), url(../Images/blur.webp);
    background-size: 100% 100%;
    width: 100%;
    height: 550px !important;
    display: flex;
    top: 0%;
}

.txt {
    width: 50%;
    margin-top: 10%;
    margin-left: 15%;
    color: rgb(109, 6, 157);
    /* display: inline-block; */
    /* justify-content: space-evenly; */
}

.txt h1 {
    text-align: center;
    font-family: 'Geologica', sans-serif;
    margin-top: -20%;
    font-size: 55px;
    /* opacity: 15 !important; */
}

.txt p {
    text-align: justify;
    font-size: 30px;
    font-family: 'EB Garamond', serif;
    margin-top: 15%;
    color: rgb(242, 196, 12);
}

.picture {
    width: 50%;
    margin-top: 16.5%;
    margin-left: 25%;

    /* float: left; */
    /* justify-content: space-evenly; */
}

.foot {
    /* float: left; */
    width: 50%;
}

.bgc {
    width: 100%;
    height: auto;
    padding: 2px;
    background-color: #5c5852;
}

.footer {
    width: 100%;
    height: auto;
    padding: 2px;
    display: flex;
    background-color: #5c5852;
}

.footer-text {
    width: 30%;
    height: auto;
    color: #ed0789;
    font-size: 35px;
    margin-left: 3%;
}

.footer-text a {
    text-decoration: none;
    color: #ed0789;
}

.foot-bar {
    width: 70%;
    height: auto;
    font-size: 20px;
    line-height: 4;
}

.foot-info {
    display: flex;
    padding: 0px 0px;
    margin-left: -28%;
    list-style-type: none;
    /* margin-left: 1%; */
    margin-top: -1.8%;
}

.foot-info a {
    color: white;
    text-decoration: none;
    list-style-type: none;
    text-transform: capitalize;
    padding: 15px;
}

.row {
    float: left;
}

.bottom {
    margin-left: 6%;
    font-size: 25px;
    color: white;
}

.down {
    line-height: 1.8;
    margin-left: 1%;
    list-style-type: none;
    font-size: 20px;
}

.down a {
    color: white;
    list-style-type: none;
    text-decoration: none;
}

.bottom-row {
    width: 25%;
    color: white;
    margin-left: 0%;
    margin-top: 1%;
}